@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiFormControl-root {
  width: 100%;
}

.MuiModal-root {
  overflow: scroll;
}

div.react-swipeable-view-container > div[data-swipeable="true"] {
  overflow: auto !important;
  border: 0;
  outline: 0;
}


/* .MuiStepConnector-root, .MuiStepConnector-line {
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  flex: 0 !important;
} */