@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiFormControl-root {
  width: 100%;
}


div.react-swipeable-view-container > div[data-swipeable="true"] {
  overflow: hidden !important;
  border: 0;
  outline: 0;
  height: fit-content !important;
}